<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902022025384-tt75l6b4ikfpvkn9kvkelcorhdm5hik0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902022025384-tt75l6b4ikfpvkn9kvkelcorhdm5hik0</string>
	<key>API_KEY</key>
	<string>AIzaSyDmrUZIfggjAwX4myoeXXLHZ5Z1Sj1jQ78</string>
	<key>GCM_SENDER_ID</key>
	<string>902022025384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bhadrapurNagarpalika</string>
	<key>PROJECT_ID</key>
	<string>bhadrapur-nagarpalika-bc1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>bhadrapur-nagarpalika-bc1fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902022025384:ios:cf2f94aa2312df7197f29d</string>
</dict>
</plist>